/*Phần các form*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div.main{
    margin: 25px auto;
    padding: 20px;
    border: 5px solid #ccc;
    width: 60%;
    background: #eee;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Lato';
}
body {
    text-align: center;
}
label {
    width: 150px;
    display: inline-block;
    text-align: center;
}
input {
    border: 2px solid #ccc;
    padding: 10px;
    width: 70%;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Lato';
}
div.form-group {
    margin: 20px 0;
}
button {
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Lato';
    font-weight: 100;
    background: yellowgreen;
    color: white;
    border: none;
}
button:hover {
    background-color: grey;
}
p.success,
p.error {
    color: white;
    font-family: lato;
    background: yellowgreen;
    display: inline-block;
    padding: 2px 10px;
}
p.error {
    background: orangered;
}
/* phần hiển thị các thông tin */
table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    text-align: center;
}
th {
    background-color: yellowgreen;
    color: white;
}
td.StudentSmall {
    background-color: yellowgreen;
    color: white;
    border: 2px black;
    border-radius: 5px;
    width: 20%;
    padding: 8px;
}
td.StudentBig {
    background-color: white;
    border: 2px black;
    border-radius: 5px;
    width: 70%;
    padding: 8px;
}
img {
    border-radius: 5px;
}
td.EventImage {
    border: 2px black;
    border-radius: 5px;
    width: 40%;
}
td.EventText {
    background-color: yellowgreen;
    border: 2px black;
    border-radius: 5px;
    width: 60%;
}
td.StudentBig:hover {
    background-color: grey;
}
/* Các đường link */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
  
li {
    float: right;
    border-left: 1px solid #bbb;
}
li :first-child {
    border-right: 1px solid #bbb;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}
  
/* Thay đổi màu khi đặt con trỏ lên */
li a:hover {
    background-color: yellowgreen;
}
/* Thay đổi màu khi đang trong trang */
.active {
    background-color: yellowgreen;
}
